.dashboard{
    overflow: hidden;
}
.sidebar-dashboard{
    background: #17263a;
    color: white;
}
.sidebar-dashboard .bar-nav-title{
    font-size: 18px;
    font-weight: 400;
}
.sidebar-text-content{

    background: #f1f4fb;
    color: #263871;
    text-align: left !important;
}

.border-Bgray {
    border-bottom: 1px solid #4b4d4f!important;
}
.dashboard-header{
    padding: 5px 0px;
    font-size: 25px;
}

.left-navigate{
    padding: 10px 20px;
    text-align: left !important;
}
a{
    text-decoration: none !important;
    color: inherit;
}
.overlayChart{
    position: absolute;
    top: 0;
    /* margin-right: 95px; */
    bottom: 0;
    margin-left: 95px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 96;
    text-align: center;
    /* pointer-events: none; */
}
.totalLabel{
    font-size: 25px;
    font-weight: 700;
}

.dot-label {
    border-radius: 3px;
    display: block;
    height: 12px;
    width: 12px;
}
.dataEvent {
    overflow-y:scroll;
    height:165px;
}
.Rec-Jobs .nav-tabs .nav-link {
    background: #ebeff8;
    border: 1px solid #e9ebfa;
    border-bottom: 0;
    border-radius: 8px 8px 0 0;
    margin: 0 0.3rem -1px;
    font-weight: 500;
    color: #424e79;
}
.Rec-Jobs .nav-link, .nav-tabs .nav-link.active {
    background: white;
}
.avatar {
    background: #36f no-repeat 50%/cover;
    color: #fff;
    display: inline-block;
    font-size: .875rem;
    font-weight: 600;
    height: 2rem;
    line-height: 2rem;
    position: relative;
    text-align: center;
    vertical-align: bottom;
    width: 2rem;
    border-radius: 50%;
}
.avatar-md {
    font-size: 1rem;
    height: 2.5rem;
    line-height: 2.5rem;
    width: 2.5rem;
}
.action-button{
    border-radius: 4px;
    padding: 1px 6px 6px 6px;
    cursor: pointer;
    font-size: 18px;
}
.btn-mail{
    color: green;
    border: green 1px solid;
}
.btn-mail:hover{
    background-color: green;
    color: white;
}
.btn-call{
    color: blue;
    border: blue 1px solid;
}
.btn-call:hover{
    background-color: blue;
    color: white;
}
.btn-delete{
    color: red;
    border: red 1px solid;
}
.btn-delete:hover{
    background-color: red;
    color: white;
}
.table td {
    border-top: 0;
    padding: 0.75rem;
    vertical-align: middle;
}
.table_img {
    align-items: center;
    font-size: 1.25rem;
    height: 50px;
    justify-content: center;
    padding: 10px;
    width: 50px;
}
@media (max-width:991px){
    .Dash-logo{
        padding: 0px 0px;
    }
}

/* Skeleton */
.Skeleton-Dash{
    height: 50px;
    background: linear-gradient(to right,
            rgba(255, 255, 255, 0),
            rgba(255, 255, 255, 0.5) 50%,
            rgba(255, 255, 255, 0) 80%),
        #efecec;
    background-repeat: repeat-y;
    background-size: 50px 500px;
    background-position: 0 0;
    animation: shine 1s infinite;
    margin-bottom: 15px;
  }
  .Sk1{
    height: 17px;
    width: 90px;
    background: linear-gradient(to right,
            rgba(255, 255, 255, 0),
            rgba(255, 255, 255, 0.5) 50%,
            rgba(255, 255, 255, 0) 80%),
        #efecec;
    background-repeat: repeat-y;
    background-size: 50px 500px;
    background-position: 0 0;
    animation: shine 1s infinite;
  }
  @keyframes shine {
    to {
        background-position: 100% 0;
    }
}
.gray-color{
    color: #263871;
}
.blockText1{
    padding: 8px 5px;
    border-radius: 5px;
    text-align: center;
    margin-right: 5px;
    line-height: 16px;
    height: fit-content;
    font-size: 13px;
    font-weight: 500;
    color: blue;
    background: #e8eaf6;
}
.blockText2{
    padding: 8px 5px;
    border-radius: 5px;
    text-align: center;
    margin-right: 5px;
    line-height: 16px;
    height: fit-content;
    font-size: 13px;
    font-weight: 500;
    color:#bf360c;
    background: #ffcdd2ab;

}