.Topbar {
    background-color: #17263a;
    color: white !important;
}

.navbar-light .navbar-brand {
    color: white;
}

.navbar-light .navbar-toggler {
    border-color: white;
    color: white;
}

.navbar-toggler:focus {
    box-shadow: none;
}

.navbar {
    /* position: fixed; */
    z-index: 1;
}

.profile-top {
    border-radius: 15%;
}

.offcanvas-body {
    padding: 0;
}

.nav-link {
    color: #aab3cc;
}

.offcanvas.show {
    background: #17263a;
}

.offcanvas-backdrop.show {
    opacity: 0;
}

.offcanvas-header {
    color: white;
}

.offcanvas-start {
    width: 260px;
}

.navbar-nav .dropdown-menu {
    background: #17263a;
    border: none;
    color: #aab3cc !important;
}

.dropdown-item {
    color: white;
}

.nav-link:hover {
    color: #36f;
}

.navbar-nav .nav-link {
    font-size: 18px;
}

.dropdown-item:focus, .dropdown-item:hover {
    color: #17263a !important;
    background-color: white;
}

.form-control:focus {
    border-color: none;
    box-shadow: none;
}

.ShowPopUp {
    position: absolute;
    background: white;
    z-index: 1;
    top: 11%;
    right: 0%;
    box-shadow: 1px 1px 9px 0px #8d8585;
}

.Popup-inner::after {
    content: " ";
    position: absolute;
    right: 35px;
    top: -12px;
    border-top: none;
    border-right: 15px solid transparent;
    border-left: 15px solid transparent;
    border-bottom: 15px solid white;
}

.Profile-drop .dropdown-item {
    color: #17263a !important;
}

.nav-link:focus {
    color: #aab3cc;
}

.btn-check:focus+.btn, .btn:focus {
    box-shadow: none;
}

.btn-close {
    background-image: url(../../assets/images/icons8-close.svg) !important;
}

.btn-close:focus {
    box-shadow: none !important;
}

/* .dropdown-toggle:active, .dropdown-toggle:hover,  .dropdown-toggle:focus, .dropdown-toggle:focus-visible, .dropdown-toggle:focus-within{
    background: #2f2fea !important;
    color: white !important;
    border-radius: 4px;
}
.nav-link:active{
    background: #2f2fea !important;
    color: white !important;
    border-radius: 4px;
} */
.icon-top {
    background-color: white;
    color: #17263a;
    border-radius: 15%;
    padding: 7px !important;
    margin: 10px;
}

.top-drop-icon .nav-link {
    padding: 0;
}